name: "Publish"

on:
  push:
    tags:
      # Publish on any tag starting with a `v`, e.g., v0.1.0
      - v*

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.13
        run: uv python install 3.13
      - name: Build
        run: uv build
      - name: Run tests
        run: uv run pytest
      - name: Store version in environment
        run: |
          PKG_VERSION=$(uv version | sed 's|^glass-onion ||')
          PKG_VERSION=$(echo "$PKG_VERSION" | xargs)
          echo "PKG_VERSION=${PKG_VERSION}" >> $GITHUB_ENV
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project --with dist/glass_onion_${{ env.PKG_VERSION }}-py3-none-any.whl tests/integration/test_packaging.py
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project --with dist/glass_onion_${{ env.PKG_VERSION }}.tar.gz tests/integration/test_packaging.py
      - name: Publish
        run: uv publish